@import "tailwindcss";
@plugin "tailwindcss-animate";

:root {
  --background: #f3f4f6; /* gray-100 */
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
}

